<!DOCTYPE html>
<html>
<head>
  <title>Ajouter un contact</title>
</head>
<body>
  <h1>Ajouter un contact</h1>
  <form action="/contact/addContact" method="post">
    <label for="FullName">Nom complet:</label>
    <input type="text" id="FullName" name="FullName" required><br>

    <label for="Phone">Téléphone:</label>
    <input type="text" id="Phone" name="Phone" required><br>

    <input type="submit" value="Ajouter">
  </form>
</body>
</html>
